%% -*- erlang -*-
{erl_opts,[debug_info, warnings_as_errors]}.
{lib_dirs, ["deps"]}.
{deps_dir, ["deps"]}.
{deps, [%% NIF-based storage backend, circular array for Erlang
        {ecirca, ".*",
         {git, "https://github.com/tnt-dev/ecirca.git",
          {tag, "6d6bc2dcee"}}},
        %% TCP/HTTP server
        {cowboy, ".*",
         {git, "https://github.com/extend/cowboy.git",
          {tag, "1.0.4"}}},
        %% NIF-based library for encoding/decoding JSON
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy.git",
          {tag, "0.14.8"}}},
        %% enhanced process registry
        {gproc, ".*",
         {git, "https://github.com/uwiger/gproc.git",
          {tag, "0.6"}}},
        %% library with exponential moving average logic
        {mavg, ".*",
         {git, "https://github.com/tnt-dev/mavg.git",
          {tag, "c443480e6c"}}},
        %% useful utilites for working with code (and records)
        {parse_trans, ".*",
         {git, "https://github.com/uwiger/parse_trans.git",
          {tag, "4fadce8a52"}}},
        %% Bitcask is a disk KV storage
        {bitcask, ".*",
         {git, "https://github.com/basho/bitcask.git",
          {tag, "2.0.2"}}},
        %% Mocking framework
        {meck, ".*",
         {git, "https://github.com/eproxus/meck.git",
          {tag, "0.8.2"}}},
        %% Logger framework
        {lager, ".*",
         {git, "https://github.com/basho/lager.git",
          {tag, "2.0.3"}}},
        %% YAML loader
        {yamerl, ".*",
         {git, "https://github.com/yakaz/yamerl.git",
          {tag, "46e31dcc19"}}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git",
          {tag, "6b562a2fb8"}}}
       ]}.
{cover_enabled, true}.
{xref_warnings, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
