%% -*- erlang -*-
{erl_opts,[debug_info, warnings_as_errors]}.
{lib_dirs, ["deps"]}.
{deps_dir, ["deps"]}.
{deps, [%% NIF-based storage backend, circular array for Erlang
        {ecirca, ".*",
         {git, "https://github.com/band115/ecirca.git",
          {tag, "b0a67aba46"}}},
        %% TCP/HTTP server
        {cowboy, ".*",
         {git, "https://github.com/extend/cowboy.git",
          {tag, "0.9.0"}}},
        %% NIF-based library for encoding/decoding JSON
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy.git",
          {tag, "0.8.5"}}},
        %% enhanced process registry
        {gproc, ".*",
         {git, "https://github.com/uwiger/gproc.git",
          {tag, "0.2.17"}}},
        %% library with exponential moving average logic
        {mavg, ".*",
         {git, "https://github.com/si14/mavg.git",
          {tag, "v1.0.0"}}},
        %% useful utilites for working with code (and records)
        {parse_trans, ".*",
         {git, "https://github.com/esl/parse_trans.git",
          {tag, "661d1689e5"}}},
        %% Bitcask is a disk KV storage
        {bitcask, ".*",
         {git, "https://github.com/basho/bitcask.git",
          {tag, "1.6.1"}}},
        %% Mocking framework
        {meck, ".*",
         {git, "https://github.com/eproxus/meck.git",
          {tag, "0.8.1"}}},
        %% Logger framework
        {lager, ".*",
         {git, "https://github.com/basho/lager.git",
          {tag, "2.0.1"}}},
        %% YAML loader
        {yamler, ".*",
         {git, "https://github.com/superbobry/yamler.git",
          {tag, "b68772701d"}}}
       ]}.
{cover_enabled, true}.
{xref_warnings, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["apps/yawndb", "rel"]}.
