[
 {alog, [
         {enabled_loggers, [alog_tty, alog_disk_log]},
         {install_error_logger_handler, true},

         {flows, [
                  {{mod, ['_']},{'=<', debug}, [alog_tty]}
                 ]},

         {alog_tty, []},
         {alog_disk_log, [{name, alog_disk_log},
                          {file, "log/alog_example.log"},
                          {format, external},
                          {type, wrap},
                          {size, {10485760, 5}} % 10MB * 5 files
                         ]},
         {alog_syslog, [{ident, "alogger"},
                        {logopt, [cons, perror, pid]},
                        {facility, user}]}
        ]}
].
